html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: auto;
    background: var(--bg-color);
    color: var(--text-color);

}

:root{
    --bg-color: black;
    --text-color: blueviolet;
    --main-color: purple;
    --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --navtext-color: #de4ff1;

}

p,
#projects div {
    border: #de4ff1 3px;
    border-style: double;
    text-align: center;
    width: 100%;

}


/* Styling Header Image and text */

img {
    width: 100%;
    height: 200px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    color: #de4ff1;

}
/*Styling nav links etc.*/

nav {
    position: absolute;
	top: 60%;
	right: 2%;
	font-family: var(--font-family);
    font-size: x-large;
	color: var(--navtext-color);
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    
}

nav ul li a {
    color: var(--navtext-color);
    text-decoration: none;
}

#navtext {
	position: absolute;
	top: 30%;
	left: 7.5%;
	font-family: var(--font-family);
    font-size: xx-large;
	color: var(--navtext-color);
    transform: translate(-30%, -30%);
    border: solid #de4ff1 3px;  
    padding: .5%
}

#navtext2{
    position: absolute;
	top: 62%;
	left: 3%;
	font-family:var(--font-family);
    font-size: x-large;
	color: var(--navtext-color);
}

/* Styling main content with flex boxes*/

.flex{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    flex-wrap:wrap;
    margin-left: 10%;
}

/*profile pic section styles*/

.profilepic {
    margin: 10%;
    margin-top: 15%;
    margin-left: 40%;

  }
  
/* Styling About Me element*/

.AboutMe {
    border: #de4ff1 3px;
    border-style: double;
    text-align: left;
    font-size: large;
    margin-top: -10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10%;
    background-color:blueviolet;
    color: black;
    
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10%;
}

/* Styling Projects section*/

.flexprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects a img{
    width: 100%;
    height: 300px; 
    object-fit: cover;
}

/* Styling bottom of page*/

.contact{
    margin: 1%;
    margin-top: -5%;
    background-color: blueviolet;
    color: black;
    text-decoration: none;
    padding: 10px;
    border: #de4ff1 3px;
    border-style: double;

}

.contactlinks{
    color: black;
    text-decoration: none;
    padding: 10px;
}
footer {
    padding: 30px;
    clear: both;
    font-family: var(--font-family);
    text-align: center;
}

/*Media queries*/

@media screen and (max-width:2400px) {
    .headshot{
        width: 25%
    }
}
@media screen and (min-width:450px) {
    .AboutMe{
        padding: 2%;
    }
}
@media screen and (min-width:320px) {
    .flexprojects{
        margin: 90px;
    }
    
}
@media screen and (min-width:1024px) {
    .flexprojects{
        margin-left: 110px;
    }
    
}
@media screen and (min-width:1440px) {
    .flexprojects{
        margin-left: 320px;
    }
    
}
@media screen and (min-width:1440px) {
    .flexprojects{
        margin-right: 350px;
    }
    
}

/** NEED TO REVIEW MEDIA QUERIES, STILL SHOWING WRONG ON SOME SCREEN SIZES**/